@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    padding: 20px;
    color: #dcdccc;
    background-color: #3f3f3f;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
}

h1 {
    color: #efefef;
}

h2 {
    color: #ffffe0;
}

hr.line {
    height: 4px;
    border: none;
    margin: 20px;
    opacity: 1;
    background-image: linear-gradient(to left, #3f3f3f, #8faf9f, #3f3f3f);
}

li {
    font-size: 150%;
}

.glitch,
.glitch>* {
    font-weight: 700;
    position: absolute;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}


.glitch>* {
    font-size: 2rem;
    animation: giggle 1.5s ease infinite;
    mix-blend-mode: difference;
}

.r {
    color: #ef0000;
    left: -0.5px;
}

.g {
    color: #00ef00;
    animation-delay: -1s;
}

.b {
    color: #0000ef;
    animation-delay: -0.5s;
    left: 0.5px;
}


@keyframes giggle {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(-2px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(2px);
    }
}
